<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adrainty.im.mapper.MemImFriendMapper">

    <select id="getFriends" resultType="java.lang.Long">
        select USER1 from mem_im_friend
        where USER2 = ${userId}
        Union All
        select USER2 from mem_im_friend
        where USER1 = ${userId}
    </select>

</mapper>
